@use "../../assets/styles/variables.scss" as v;

.tr {
  display: table-row;

  &:hover {
    background-color: v.$hlt-yellow;
  }
}

.td {
  display: table-cell;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  border: 1px solid v.$blue;
}

.buttonCell {
  width: 7.75rem;
}

.formInput {
  height: 2rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid v.$fade-blue;

  &:focus {
    outline: none;
    border-color: v.$green;
  }
}
