@use "../../assets/styles/variables.scss" as v;
@use "../../assets/styles/mixins.scss" as *;

.tr {
  display: table-row;
  @include table-text;

  &:hover {
    background-color: v.$hlt-yellow;
  }
}

.td {
  display: table-cell;
  vertical-align: middle;
  padding: 0.5rem 0.5rem;
  border: 1px solid v.$blue;
}

.narrow {
  width: 19%;
}

.wide {
  width: 30%;
}

.buttonCell {
  width: 7.75rem;
}
