@use "../../../../assets/styles/variables.scss" as v;

.button {
  border: none;
  border-radius: 5px;
  transition: transform 0.5s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
