@use "./variables.scss" as v;

@mixin table-header-txt {
  font-family: v.$decoration;
  font-weight: 500;
  font-size: 1.25rem;
}

@mixin table-text {
  font-family: v.$regText;
  font-weight: 400;
  font-size: 1rem;
}

@mixin reg-text {
  font-family: v.$regText;
  font-weight: 400;
  font-size: 1.25rem;
}

@mixin footer-txt {
  font-family: v.$decoration;
  font-weight: 400;
  font-size: 1.5rem;
}

//UTILITIES

@mixin vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//CLEAR MARGINS AND PADDINGS
@mixin clear-mp {
  margin: 0;
  padding: 0;
}
